# TODO: create registration page

extends layout

block content
  style.
    .bt-logo { width: 80px; margin: 0 auto 10px auto; display: block; }
    .bt-form { max-width: 600px; margin: 0 auto; }
    .bt-input { width: 100%; padding: 1.2em; background: #000; color: #fff; border: none; margin-bottom: 2em; font-size: 1.2em; }
    .bt-input-domain { background: #673ab7; color: #fff; border: none; padding: 1.2em; font-size: 1.2em; }
    .bt-btn { background: #000; color: #fff; border-radius: 12px; padding: 0.5em 1.5em; font-size: 1.2em; border: none; margin-left: 1em; }
    .bt-link { color: #3b5fc0; }
    .bt-center { text-align: center; }
    .bt-label { margin-bottom: 0.5em; display: block; font-size: 1.1em; }
    .bt-row { display: flex; }
    .bt-row input { flex: 1; }
    .bt-row .bt-input-domain { width: 180px; }
    .bt-footer { margin-top: 3em; text-align: center; color: #444; }

  .bt-center
    h2(style="margin-top: 0.5em;") 
      img.bt-logo(src="/logo.png" alt="BananaTransfer")
      |  Create an account on BananaTransfer

  form.bt-form(method="POST" action="/register")
    .bt-label username
    .bt-row
      input.bt-input(type="text" name="username" placeholder="username" required)
      span.bt-input-domain @domain.ch
    .bt-label email address
    input.bt-input(type="email" name="email" placeholder="username@domain (username by default)" required)
    .bt-label password
    input.bt-input(type="password" name="password" placeholder="password" required)
    .bt-label confirm password
    input.bt-input(type="password" name="confirmPassword" placeholder="password confirmation" required)
    .bt-row(style="justify-content: flex-end; align-items: center;")
      a.bt-link(href="/help") link to doc / help
      button.bt-btn(type="submit") Continue