div.modal.fade(id="masterPasswordModal", tabindex="-1", aria-labelledby="masterPasswordModalLabel", aria-hidden="true")
  div.modal-dialog.modal-dialog-centered
    div.modal-content
      div.modal-header
        h5.modal-title(id="modalMasterPasswordTitle") Enter Master-Password
        button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
      div.modal-body
        div.text.mt-1.mb-1(id="modalMasterPasswordText")
          | Please enter your Master-Password
        div.text-danger.mt-1.mb-1(id="modalMasterPasswordError")
        input.form-control(type="password", id="modalMasterPasswordInput", placeholder="Enter your Master-Password")
      div.modal-footer
        button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Cancel
        button.btn.btn-primary(type="button", id="modalMasterPasswordConfirmBtn") Confirm
