div.modal.fade(id="userPasswordModal", tabindex="-1", aria-labelledby="userPasswordModalLabel", aria-hidden="true")
  div.modal-dialog.modal-dialog-centered
    div.modal-content
      div.modal-header
        h5.modal-title(id="modalUserPasswordTitle") Enter User Password
        button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
      div.modal-body
        div.text.mt-1.mb-1(id="modalUserPasswordText")
          | Please enter your user password to confirm this action
        div.text-danger.mt-1.mb-1(id="modalUserPasswordError")
        input.form-control(type="password", id="modalUserPasswordInput", placeholder="Enter your user password")
      div.modal-footer
        button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Cancel
        button.btn.btn-primary(type="button", id="modalUserPasswordConfirmBtn") Confirm