# Ignore everything
*

# Except some directory and files
## dir
!frontend/**
!public/**
!src/**
!views/**

## files
!.prettierrc
!copy-assets.js
!eslint.config.mjs
!nest-cli.json
!package.json
!package-lock.json
!tsconfig.build.json
!tsconfig.json
!tsconfig.public.json

# Ignore file inside the included directory
**/_tests/**