doctype html
html
    head
        title Hello World
        link(rel="stylesheet", href="/css/bootstrap.min.css")
    body
        .container.mt-5
            .card
                .card-body
                    h1.text-primary Hello, World!