doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title BananaTransfer - Secure File Sharing
    link(rel="icon", href="/favicon/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/bootstrap/icons/bootstrap-icons.min.css")
  body
    .container.mt-5.mb-3
      .row.justify-content-center.mb-3
        .col-md-6.col-lg-6
          .text-center
            img(src="/images/logo.png" alt="BananaTransfer" style="width:80px;")
      block content