extends ../layout

block content
  .row.justify-content-center.mb-3
    .col-1.d-flex.align-items-center
      a.btn.btn-outline-secondary(href="/transfer" style="border-radius:12px;")
        i.bi.bi-arrow-left.align-middle
    .col-10.col-md-8.col-lg-6.text-center
      h2.mt-1 Send files
    .col-1
  
  if error
    .row.justify-content-center.mb-3
      .col-12.col-md-10.col-lg-8
        .alert.alert-danger.text-center= error


  
  // Recipient section
  .row.justify-content-center.mb-3
    .col-12.col-md-10.col-lg-8
      h4.font-weight-bold Recipient
      hr.mb-3(style="border-top:3px solid #000; width:100%; margin:auto")
      .input-group.mb-2
        input.form-control(type="text" name="recipient" id="recipient" placeholder="Recipient's name" required)
        span.input-group-text @#{domain}
      
      // Verification section
      input.form-control.small(type="text" id="expectedHash"  style="font-size: 0.9em;" disabled=true placeholder='Recipient key')
      button.btn.btn-outline-secondary(type="button" onclick="/" id="recipient-btn")
        i.me-1
        | Verify Public Key Hash

  // File upload section
  .row.justify-content-center.mb-3
    .col-12.col-md-10.col-lg-8
      h4.font-weight-bold Files
      hr.mb-3(style="border-top:3px solid #000; width:100%; margin:auto")
      .file-upload-area.p-5.text-center.rounded(style="background-color: #f9d71c; border: 2px dashed #333; cursor: pointer;" onclick="/")
        i.bi.bi-cloud-upload.display-4.mb-3
        h5 Add file (click to browse or drag and drop)
        input(type="file" id="fileInput" name="files" multiple style="display: none;")
      
  // Subject section
  .row.justify-content-center.mb-3
    .col-12.col-md-10.col-lg-8
      input(type="hidden" id="_csrf" value=csrfToken)
      h4.font-weight-bold Subject
      hr.mb-3(style="border-top:3px solid #000; width:100%; margin:auto")
      input.form-control(type="text" name="subject" id="subject" placeholder="Transfer Subject (Filename by default)")

    // Send button
  .row.justify-content-center.mb-3
    .col-12.col-md-10.col-lg-8
      h4.font-weight-bold Send Transfer
      hr.mb-3(style="border-top:3px solid #000; width:100%; margin:auto")
      button.btn.btn-dark.mb-3(type="submit" style="border-radius:15px; padding:10px 40px;") Send file(s)
      div.small.text-muted
        | Files will be encrypted and securely transferred to the recipient.

  script(type="module").
    import { setupNewTransfer } from '/js/transfer-new.js';
    setupNewTransfer();